.work {
	background-color: #071521;
	margin-top: 75px;
	padding-top:100px;
	margin-bottom: 75px;
}

.work h1 {
	color: #7AAEC0;
	text-align: center;
	margin-bottom: 40px;
}

.work a {
	text-decoration: none;
	color: #7AAEC0;
}

.work a:hover {
	color:#205889
}

.work .vertical-timeline-element-title {
	color: #205889;
}

.work a:hover .vertical-timeline-element-title {
	color: #071521;
}

.work .vertical-timeline-element-content {
	border-top: 4px solid #7AAEC0;
}

@media (max-width: 1169px) {
	.work .vertical-timeline-element-date {
		color: #0f011e
	}
}

@media (min-width: 1170px) {
	.work .vertical-timeline-element-date {
		color: #fff
	}
}

.work h3 {
	font-family: Inter;
	color: #7AAEC0;
}

.work h4 {
	font-size: 20px;
	color: #7AAEC0;
}

.work p {
	font-family: Poppins;
}
