@media screen and (max-width: 250px) {
	nav.navbar a.navbar-brand {
		display: none;
	}
}

nav.navbar {
	padding: 10px 0;
	position: fixed;
	height: 120px;
	width: 100%;
	top: 0;
	z-index: 9999;
	transition:  0.32s ease-in-out;
	background-color: #132C42;
	display: flex;
	justify-content: space-between;
  }
  nav.navbar.scrolled {
	padding: 0px 0;
	background-color: #132C42;
  }
  nav.navbar a.navbar-brand {
	  width: 9%;
	  padding: 20px;
	  position: fixed;
	  background-color: transparent;
	  display: inline-block;
  }

  nav.navbar a.navbar-brand img {
	  display: block;
	  transition: transform 0.3s ease-in-out;
  }

  nav.navbar a.navbar-brand:hover img {
	  transform: translateY(-6%);
  }

  nav.navbar a.navbar-brand:active img {
	  transform: none;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
	font-weight: 400;
	color: #8FA8BC !important;
	letter-spacing: 0.8px;
	padding: 0 25px;
	font-size: 18px;
	opacity: 0.75;
	text-align: center;
  }
  
  nav.navbar .navbar-nav a.nav-link.navbar-link:hover {
	  color: #7AAEC0 !important;
	  opacity: 1;
  }

  nav.navbar .navbar-nav a.nav-link.navbar-link.active {
	  color: #8FA8BC !important;
	  opacity: 1;
  }

  .social-icon {
	  display: inline-block;
	  display: flex;
	  align-items: center;
	  justify-content: end;
  }

  .social-icon a {
	  position: relative;
	  width: 35px;
	  height: 35px;
	  background-color: #132C42;
	  display: inline-flex;
	  border-radius: 50%;
	  align-items: center;
	  justify-content: center;
	  line-height: 1;
	  border: 1px solid #7AAEC0;
	  margin-right: 8px;
	  margin-left: 8px;
	  cursor: pointer;
	  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .social-icon a:hover {
	  transform: translateY(-14%);
	  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  }

  .social-icon a:active {
	  transform: none;
	  box-shadow: none;
  }

  .social-icon a img {
	  width: 35px;
	  height: 35px;
	  z-index: 1;
	  position: relative;
  }
 
  .navbar-text button {
	font-weight: 700;
	color: #fff;
	border: 1px solid #fff;
	padding: 18px 34px;
	font-size: 18px;
	margin-left: 18px;
	  position: relative;
	  background-color: transparent;
	  transition: 0.3s ease-in-out;
  }
  .navbar-text button span {
	z-index: 1;
  }

  .navbar-text button::before {
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	background-color: #fff;
	left: 0;
	top: 0;
	z-index: -1;
	transition: 0.3s ease-in-out;
  }
  .navbar-text button:hover {
	color: #121212;
  }
  .navbar-text button:hover::before {
	  content: "";
	  width: 100%;
	  height: 100%;
	  position: absolute;
  }
  nav.navbar .navbar-toggler:active,
  nav.navbar .navbar-toggler:focus {
	  outline: none;
	  box-shadow: none;
  }
  nav.navbar .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	border-bottom: 2px solid #8084ff;
	transition: all 300ms linear;
	position: fixed;
	right: 20%;
  }

  nav.navbar .navbar-toggler-icon.toggled,
  nav.navbar .navbar-toggler-icon.toggled:after,
  nav.navbar .navbar-toggler-icon.toggled:before  {
	border-bottom: 2px solid white;
  }

  nav.navbar .navbar-toggler-icon:hover {
	border-bottom: 2px solid white;
  }

  nav.navbar .navbar-toggler-icon:active {
	border-bottom: 2px solid white;
  }

  nav.navbar .navbar-toggler-icon:hover:after,
  nav.navbar .navbar-toggler-icon:hover:before {
	background-color: white;
  }

  nav.navbar .navbar-toggler-icon:focus {
	  border-bottom: 2px solid #8084ff;
  }
  nav.navbar .navbar-toggler-icon:after,
  nav.navbar .navbar-toggler-icon:before {
	  width: 24px;
	  position: absolute;
	  height: 2px;
	  background-color: #8084ff;
	  top: 0;
	  left: 0;
	  content: '';
	  z-index: 2;
	  transition: all 300ms linear;
  }

  @media (min-width: 993px) {
	nav.navbar .navbar-collapse {
		background-color: transparent;
	}
  }

  @media (max-width: 992px) {
	nav.navbar .navbar-collapse {
		text-align: center;
		background-color: #132C42;
		position: absolute;
		right: 0;
		top: 50px;
	}

	nav.navbar .navbar-nav .nav-link.navbar-link {
		text-align: right;
		margin-bottom: 5px;
	}

	.social-icon {
		padding: 0 20px 20px 20px;
	}
  }

  .toggle {
	display: flex;
	position: fixed;
	right: 50px;
  }

  .nav.navbar .navbar-nav {
	text-align: center;
  }

  nav.navbar .navbar-toggler-icon:after {
	  top: 8px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	  transform: rotate(45deg);
	  background-color: #fff;
	  height: 2px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	  transform: translateY(8px) rotate(-45deg);
	  background-color: #fff;
	  height: 2px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	  border-color: transparent;
	  background-color: #fff;
  }

  .navbar-text {
	margin-left: 15px;
  }