.about {
	background-color: #071521;
	margin-top: 0;
	padding: 125px 0 48px 0;
	justify-content: right;
  }

  .about h1 {
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1;
	margin-bottom: 20px;
	display: block;
	color: #7AAEC0;
  }

  .about .portrait {
	align-items: center;
  }

  .about .portrait img {
	border-radius: 18px;
  }

  .about .introduction {
	font-family: Poppins;
	max-width: 500px;
	color: rgb(255, 255, 255);
  }

  .about a {
	color: #8FA8BC;
	text-decoration: none; 
  }

  .about a:hover {
	color: #7AAEC0;
  }

  .about a:active {
	color: #8FA8BC;
  }

  @media(min-width: 1200px) {
	.about h1 {
		font-size: 80px;
	}

	.about .introduction {
		font-size: 20px;
	}
  }

  @media(max-width: 1199px) {
	.about h1 {
		font-size: 80px;
	}

	.about .introduction {
		font-size: 20px;
	}
  }

  @media(max-width: 576px) {
	.about h1 {
		font-size: 60px;
	}

	.about .introduction {
		font-size: 18px;
	}
  }

  @media(max-width: 300px) {
	.about h1 {
		font-size: 40px;
	}

	.about .introduction {
		font-size: 15px;
	}
  }
