@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');

@font-face {
	font-family: Solitreo;
	src: url('assets/fonts/PlaypenSans-Medium.ttf');
	font-weight: 700;
}

@font-face {
	font-family: Poppins;
	src: url('assets/fonts/Poppins-Medium.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overscroll-behavior: contain;
  }
  
  html {
	scroll-behavior: smooth;
	scroll-padding-top: 75px;
  }
  
  body {
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	color: #fff !important;
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	background-color: #071521;
	overscroll-behavior: contain;
  }
  
  h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
  
	color: #7AAEC0;
}
 
  .skill {
	background-color:#071521;
  }

  .home {
	background-color: #071521;
  }