@font-face {
	font-family: Solitreo;
	src: url('assets/fonts/PlaypenSans-Medium.ttf');
	font-weight: 700;
}

@font-face {
	font-family: Roboto;
	src: url('assets/fonts/Roboto-Medium.ttf');
	font-weight: 700;
}

@font-face {
	font-family: Averia;
	src: url('assets/fonts/AveriaSansLibre-Light.ttf');
}

@font-face {
	font-family: Poppins;
	src: url('assets/fonts/Poppins-Medium.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overscroll-behavior: contain;
  }
  
  html {
	scroll-behavior: smooth;
	scroll-padding-top: 75px;
  }
  
  body {
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	color: #fff !important;
	font-family: Averia;
	background-color: #0f011e;
	overscroll-behavior: contain;
  }
  
  h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
  }
 
  .skill {
	background-color:#0f011e;
  }

  .home {
	background-color: #0f011e;
  }