@font-face {
	font-family: Solitreo;
	src: url('fonts/PlaypenSans-Medium.ttf');
	font-weight: 700;
}

@font-face {
	font-family: Roboto;
	src: url('fonts/Roboto-Medium.ttf');
	font-weight: 700;
}

@font-face {
	font-family: Averia;
	src: url('fonts/AveriaSansLibre-Light.ttf');
}

@font-face {
	font-family: Poppins;
	src: url('fonts/Poppins-Medium.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  html {
	scroll-behavior: smooth;
	scroll-padding-top: 75px;
  }
  
  body {
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	color: #fff !important;
	font-family: Averia;
  }
  
  h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
  }

  nav.navbar {
	padding: 10px 0;
	position: fixed;
	height: 17%;
	width: 100%;
	top: 0;
	z-index: 9999;
	transition:  0.32s ease-in-out;
	background-color: rgb(27, 1, 53)
  }
  nav.navbar.scrolled {
	padding: 0px 0;
	background-color: 121212;
  }
  nav.navbar a.navbar-brand {
	  width: 9%;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
	font-weight: 400;
	color: #8084ff !important;
	letter-spacing: 0.8px;
	padding: 0 25px;
	font-size: 18px;
	opacity: 0.75;
  }
  nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
  nav.navbar .navbar-nav a.nav-link.navbar-link.active {
	  opacity: 1;
  }
  span.navbar-text {
	  display: flex;
	  align-items: center;
  }
  .social-icon {
	  display: inline-block;
	  margin-left: 50px;
  }
  .social-icon a {
	  width: 35px;
	  height: 35px;
	  background: 121212;
	  display: inline-flex;
	  border-radius: 50%;
	  align-items: center;
	  justify-content: center;
	  line-height: 1;
	  border: 1px solid rgb(128, 132, 255);
	  margin-right: 15px;
  }

  .social-icon a::before {
	  content: "";
	  width: 42px;
	  height: 42px;
	  position: absolute;
	  background-color: #8084ff;
	  border-radius: 50%;
	  transform: scale(0);
	  transition: 0.3s ease-in-out;
  }
  .social-icon a:hover::before {
	  transform: scale(1);
  }
  .social-icon a img {
	  width: 100%;
	  height: 100%;
	  z-index: 1;
	  transition: 0.3s ease-in-out;
  }
  .social-icon a:hover img {
	  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) brightness(95%) contrast(86%);
  }
 
  .navbar-text button {
	font-weight: 700;
	color: #fff;
	border: 1px solid #fff;
	padding: 18px 34px;
	font-size: 18px;
	margin-left: 18px;
	  position: relative;
	  background-color: transparent;
	  transition: 0.3s ease-in-out;
  }
  .navbar-text button span {
	z-index: 1;
  }
  .navbar-text button::before {
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	background-color: #fff;
	left: 0;
	top: 0;
	z-index: -1;
	transition: 0.3s ease-in-out;
  }
  .navbar-text button:hover {
	color: #121212;
  }
  .navbar-text button:hover::before {
	  content: "";
	  width: 100%;
	  height: 100%;
	  position: absolute;
  }
  nav.navbar .navbar-toggler:active,
  nav.navbar .navbar-toggler:focus {
	  outline: none;
	  box-shadow: none;
  }
  nav.navbar .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 2px solid #fff;
	transition: all 300ms linear;
	top: -2px;
  }
  nav.navbar .navbar-toggler-icon:focus {
	  border-bottom: 2px solid #fff;
  }
  nav.navbar .navbar-toggler-icon:after,
  nav.navbar .navbar-toggler-icon:before {
	  width: 24px;
	  position: absolute;
	  height: 2px;
	  background-color: #fff;
	  top: 0;
	  left: 0;
	  content: '';
	  z-index: 2;
	  transition: all 300ms linear;
  }
  nav.navbar .navbar-toggler-icon:after {
	  top: 8px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	  transform: rotate(45deg);
	  background-color: #fff;
	  height: 2px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	  transform: translateY(8px) rotate(-45deg);
	  background-color: #fff;
	  height: 2px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	  border-color: transparent;
  }

  .banner {
	margin-top: 0;
	padding: 250px 15px 250px 15px;
	background-image: url('assets/ocean.jpg');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
  }

  .banner .fix-height {
	min-height: 55px;
  }

  .banner .tagline {
	font-weight: 700;
	letter-spacing: 0.8px;
	padding: 8px 10px;
	background: linear-gradient(90.21deg, #8084ff -5.91%, rgb(32, 37, 178));
	border: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 20px;
	margin-bottom: 16px;
	display: inline-block;
  }
  .banner .name {
	font-size: 65px;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1;
	margin-bottom: 20px;
	display: block;
	color: rgb(190, 176, 255);
  }

  .banner p {
	color: #B8B8B8;
	font-size: 18px;
	letter-spacing: 0.8px;
	line-height: 1.5em;
	width: 96%;
  }
  .banner .resume-button {
	background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
	font-weight: 700;
	font-family: Averia;
	letter-spacing: 0.8px;
	padding: 8px 10px;
	color: white;
	font-size: 20px;
	margin-top: 2em;
	display: flex;
	align-items: center;
	z-index: 9999;
  }

  .banner .resume{
	font-size: 25px;
	margin-left: 10px;
	transition: 0.3s ease-in-out;
	line-height: 1;
  }
  .banner .resume:hover {
	margin-left: 25px;
  }

  @keyframes upDown {
    0% {
		transform: translateY(-8px);
	} 

	50% {
		transform: translateY(8px);
	}

	100% {
		transform: translateY(-8px);
	}
}

  .about img {
	height: 75%;
	width: 75%;
	animation: upDown 3s linear infinite;

  }

  .txt-rotate > .wrap {
	border-right: 0.08em solid #666;
  }

  .name {
	color: rgb(190, 176, 255);
  }

  .banner .role {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1;
	margin-bottom: 20px;
	display: block;
	font-family: Roboto;
	color: white;
  }

  .normal-text {
	font-family: Poppins;
  }

  .banner .next {
	position: absolute;
    left: 50%; 
	top: 37%;
    transform: translateX(-50%);
    display: flex; 
    justify-content: center;
    width: 100%;
	transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0; 
  }

  .banner .next:hover {
	transform: translateX(-50%) scale(1.3); 
	opacity: 100;
  }

  .banner .next-button {
	background-color: transparent;
	border: transparent;
	color: transparent;
	height: 100px;
	width: 100px;
  }

  .banner .next-button:hover {
	color: #fff;
  }

  .about {
	background-color: #1b0135;
	margin-top: 0;
	padding: 125px 0 125px 0;
	justify-content: right;
  }

  .about h1 {
	font-size: 80px;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1;
	margin-bottom: 20px;
	display: block;
	color: rgb(190, 176, 255);
  }

  .about .portrait {
	align-items: center;
  }

  .about .introduction {
	font-size: 20px;
	font-family: Poppins;
	max-width: 500px;
	color: rgb(255, 255, 255);
  }

  .about a {
	display: block;
	color: rgb(255, 255, 255);
	text-decoration: none; 
	margin-bottom: 10px;
	font-size: 18px;
  }

  .about a:hover {
	color: rgb(190, 176, 255);
  }

  .about a:active {
	color: #a08bfd;
  }

  .skill {
	background-color: #1b0135;
  }

  .list {
	margin-top: 40px;
	padding: 125px 0 125px 0;
	justify-content: right;
  }

  .list h1 {
	color: rgb(160, 139, 253);
  }

  .list .name {
	text-align: center;
	margin-bottom: 50px;
  }

  .list img {
	height: 4.5em; 
	width: auto;
	max-width: 100%;
	margin-bottom: 15px;
  }
  
  .list p {
	font-family: Roboto;
	font-size: 20px;
	margin-bottom: 0;
  }
  
  .list .skill {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 35px 0 35px 0;
	margin: 0.5rem; 
	border-radius: 0.5rem;
	border: 2px solid;
	border-color: transparent;
	transition: transform 0.3s ease;
}

.list .skill:hover {
	border-color: #fff;
	box-shadow: 5px 5px 6px rgb(190, 176, 255, 0.3);
	transform: translate(0, -10%)
} 

.list .col-space {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

  .awards {
	background-color: #1b0135;
  }

  .awards h1 {
	color: #a08bfd;
	text-align: center;
	margin-bottom: 5px;
  }

  .awards p {
	text-align: center;
  }
  
  .awards .intro-paragraph {
	font-family: Poppins;
	padding: 0 50px 0 50px;
  }

  .awards h2 {
	font-family: Roboto;
	font-size: 25px;
	text-align: center;
  }

  .awards .awards-grid {
	padding: 50px 0 100px 0;
  }

  .awards .award {
	padding: 5px;
	margin: 10px;
	border-radius: 0.5rem;
	box-shadow: 0 0 5px rgb(190, 176, 255, 0.5);
	position: relative;
  }

  .awards img {
	border-radius: 0.5rem;
	max-width: 100%;
	height: auto;
  }

  .awards .description {
	background-color: #1b0135;
	margin: 40px 20px 20px 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .awards .image-container {
	overflow: hidden;
	margin: 8px;
	border-radius: 0.5rem;
	max-width: 100%;
	height: auto;
  }

  .awards .image-overlap {
	background-color: transparent;
	position: absolute;
	border-radius: 0.5em;
	top: 1%;
	padding: 10px;
	height: 85%;
	width: 98%;
	color: transparent;
	transition: fade-in 0.3s ease, background-color 0.3s ease, color 0.3s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }

  .awards .image-overlap:hover {
	background-color: hsla(270, 96%, 11%, 0.75);
	color: white;
  }

  .awards .explain {
	font-family: Poppins;
	padding: 0 50px 0 50px;
	font-size: 20px;
  }

.awards .award img {
	transition: transform 0.3s ease; 
	height: auto;
	overflow: hidden;
	display: block;
}

  .awards .award:hover img {
	transform: scale(1.1);
  }

  .education {
	background-color: #1b0135;
	margin-top: 40px;
	padding: 125px 0 75px 0;
  }

  .education h1 {
	color: #a08bfd;
	text-align: center;
	margin-bottom: 60px;
  }

  .education .h2 {
	font-family: Roboto;
	color: #fff;
	background-color: transparent;
	border: none;
  }

  .education .h2:hover {
	color: #e2dcff;
  }

  .education .h2:active {
	color: #bdb0fa;
  }

  .education h3 {
	font-size: 15px;
	font-style: italic;
	font-family: Poppins;
  }

  .education p {
	font-family: Poppins;
  }

  .education img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
  }

  .education h4 {
	font-size: 18px;
	margin-bottom: 20px;
  }

  .education li {
	font-family: Poppins;
	margin-bottom: 5px;
  }

  .education .education-one {
	margin: 20px;
	justify-content: center;
	display: flex;
  }

  .education .education-two {
	margin: 15px;
	justify-content: center;
	display: flex;
  }

  .education .school-info {
	position: relative;
  }

  .education .uw-dropdown-content {
	display: block;
	position: absolute;
	bottom: 0%;
	background-color: #1b0135;
  }

  .education .mhs-dropdown-content {
	display: block;
	position: absolute;
	bottom: 0%;
	background-color: #1b0135;
  }

  .education .triangle-fill {
    transition: transform 0.5s ease;
}

.work {
	background-color: #1b0135;
}

.work h1 {
	color: #a08bfd;
	text-align: center;
	margin-bottom: 40px;
}

.work .vertical-timeline-element-content {
	border-top: 4px solid #5339c4;
}

.work .vertical-timeline-element-date {
	color: #fff
}

.work h3 {
	font-family: Roboto;
	color: #5339c4;
}

.work h4 {
	font-size: 20px;
}

.work p {
	font-family: Poppins;
}

.volunteer {
	background-color: #1b0135;
	padding: 75px 0 100px;
}

.volunteer h1 {
	text-align: center;
	color:#a08bfd;
	margin-bottom: 10px;
}

.volunteer .intro {
	margin-bottom: 50px;
	text-align: center;
	font-family: Poppins;
}

.volunteer h2 {
	font-family: Roboto;
	font-size: 25px;
	text-align: center;
}

.volunteer .describe {
	text-align: center;
}

.volunteer img {
	max-width: 100%;
	height: auto;
	border-radius: 0.5em;
}

.volunteer .event {
	padding: 5px;
	margin: 10px;
	border-radius: 0.5rem;
	box-shadow: 0 0 5px rgb(190, 176, 255, 0.5);
	position: relative;
}

.volunteer .description {
	background-color: #1b0135;
	margin: 50px 20px 20px 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

.volunteer .image-container {
	overflow: hidden;
	margin: 8px;
	border-radius: 0.5rem;
	max-width: 100%;
	height: auto;
  }

  .volunteer .image-overlay {
	background-color: transparent;
	position: absolute;
	border-radius: 0.5em;
	top: 1%;
	padding: 10px;
	height: 85%;
	width: 98%;
	color: transparent;
	transition: fade-in 0.3s ease, background-color 0.3s ease, color 0.3s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }

  .volunteer .image-overlay:hover {
	background-color: hsla(270, 96%, 11%, 0.75);
	color: white;
  }

  .volunteer .event img {
	transition: transform 0.3s ease; 
	height: auto;
	overflow: hidden;
	display: block;
}

  .volunteer .event:hover img {
	transform: scale(1.1);
  }

  .volunteer .explain {
	font-family: Poppins;
	padding: 0 50px 0 50px;
	font-size: 20px;
	text-align: center;
  }
